.articles {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 16px;
}

.label {
  color: rgb(0, 131, 138);
  font-weight: 700;
  margin-left: 8px;
}

.container {
  margin: 25px;
}

@media (min-width: 600px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .articles {
    grid-template-columns: repeat(5, 1fr);
  }
}
